In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('home_prices2.csv')

In [3]:
df.head()

  locality  area_sqr_ft  price_lakhs  bedrooms
0   Kollur          656         39.0         2
1   Kollur         1260         83.2         2
2   Kollur         1057         86.6         3
3   Kollur         1259         59.0         2
4   Kollur         1800        140.0         3

In [7]:
df_encoded = pd.get_dummies(df, columns = ['locality'], drop_first = True)
df_encoded.head()

   area_sqr_ft  price_lakhs  bedrooms  locality_Kollur  locality_Mankhal
0          656         39.0         2             True             False
1         1260         83.2         2             True             False
2         1057         86.6         3             True             False
3         1259         59.0         2             True             False
4         1800        140.0         3             True             False

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X = df_encoded.drop('price_lakhs', axis=1)
y = df_encoded['price_lakhs']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size =0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.8558905263155381