In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv('house_price_increase.csv')
df.head()

  house_id  price_increase_pct
0    NJ001                12.7
1    NJ002                11.3
2    NJ003                11.9
3    NJ004                13.2
4    NJ005                12.8

In [3]:
df.shape

(100, 2)

In [4]:
population_mean = 10
population_std_dev =4

In [5]:
sample_mean = df.price_increase_pct.mean()
sample_mean

11.0

In [6]:
standard_error = population_std_dev/ np.sqrt(df.shape[0])
standard_error

0.4

In [7]:
z_score = (sample_mean  - population_mean)/standard_error
z_score

2.5

In [8]:
alpha = 0.05  # alpha means significant level

In [9]:
from scipy import stats

z_critical = stats.norm.ppf(1-alpha)
z_critical

1.644853626951472

In [10]:
z_score, z_critical

(2.5, 1.644853626951472)

Since z_score > z_critical, we will reject the NULL hypothesis. This means the alternate hypothesis becomes true which means that inflation is geater than10%